/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: DarkSeaGreen;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: DarkSeaGreen;
  color: White;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}
.project-img {
  object-fit: cover;
  width: 100%;
  max-height: 150px;
}

<br><br><br>
<body style= "background: url(https://images.unsplash.com/photo-1530396333989-24c5b8f805dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat ; background-size: 100% 100%">
